.movable-selection {
  outline: 1px dashed blue;
  position: relative;
  cursor: move;
}

.movable-selection .resizer{
  position: relative;
}

.movable-selection_hide-outline-on-resizing .resizer_resizing {
  outline: none
}