body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
}
:root{
  --hover-background-color: rgba(50, 150, 255, 0.1);
  --hover-border-color: #1979ca;
  --active-background-color: rgba(50, 150, 255, 0.2);
  --active-border-color: #1979ca;
}
*{
  box-sizing: inherit;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
