.canvas {
  box-shadow: 3px 3px 6px darkgrey;
  cursor: crosshair;
  margin: 0.5em;
  z-index: 1;
  image-rendering: pixelated;
}

.canvas-wrapper {
  flex: auto;
  background: rgb(200, 210, 230);
  box-sizing: content-box;
  overflow: visible;
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.canvas-upper-layer {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.canvas-upper-layer>* {
  position: absolute;
  image-rendering: pixelated;
}