.canvas {
  box-shadow: 3px 3px 6px darkgrey;
  cursor: crosshair;
  margin: 0.5em;
  z-index: 1;
  image-rendering: optimizeSpeed;
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE                            */
}

.canvas-wrapper {
  flex: auto;
  background: rgb(200, 210, 230);
  box-sizing: content-box;
  overflow: visible;
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.canvas-upper-layer {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  pointer-events: none;
}

.canvas-upper-layer>* {
  position: absolute;
}