.clipboard .paste-button {
  display: block;
  padding: 0.5em;
  width: 3.5em;
  height: 3.5em;
  background-size: 3.5em 3.5em;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('./paste.png')
}

.clipboard button:focus {
  outline: none;
}
.clipboard {
  position: relative;
  display: flex;
}
.clipboard input {
  display: none;
}

.clipboard button {
  display: block;
  background: none;
  border: 1px solid transparent;
  font-size: 0.8em;
}
.clipboard .hoverable:not(:disabled):hover, .clipboard label:hover {
  background: var(--hover-background-color);
  border: 1px solid var(--hover-border-color);
}
.clipboard .hoverable:not(:disabled):active, .clipboard label:active {
  background: var(--active-background-color);
  border: 1px solid var(--active-border-color);
}
.clipboard button:focus, .clipboard label:focus {
  outline: none;
}
.clipboard .paste-button:hover {
  border: 1px solid var(--hover-border-color);
}
.clipboard .paste-button:active {
  border: 1px solid var(--active-border-color);
}
.clipboard button:disabled {
  background: none;
  border: 1px solid transparent;
}
