.image .select svg {
  padding: 0.5em;
  width: 3.5em;
}

.image button:focus {
  outline: none;
}
.image {
  position: relative;
  display: flex;
}
.image .main-buttons > button {
  text-align: center;
  width: 100%;
}

.side-buttons .dropdown-button {
  align-self: start;
  position: relative;
  text-align: left;
  min-width: auto;
}

.image button {
  display: block;
  background: none;
  border: 1px solid transparent;
  font-size: 0.8em;
}
.image button:hover {
  background: var(--hover-background-color);
  border: 1px solid var(--hover-border-color);
}

.image button:active, .image .active {
  background: var(--active-background-color);
  border: 1px solid var(--active-border-color);
}

.image button:disabled {
  background: none;
  border: 1px solid transparent;
}